  .todotext {
    color: grey;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
  }


  .filter-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .filter-button {
    padding: 6px;
    border: none;
    color: grey;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in;
    font-size: 17px;
  }

  @media (max-width: 767px) {
    .filter-button{
        font-size: 10px;
    }
}

  .task-count {
    color: grey;
  }

  .filter-button.active {
    border: 2px solid #ccc;
  }
  
  .todo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(224, 224, 224);
  }
  
  .todo_box {
    background-color: white;
    width: 450px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 1rem;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.1),
    0 0 0 2px grey; 
    box-shadow: 0px 7px rgb(242, 241, 241);
  }

  @media (max-width: 767px) {
    .todo_box{
        width: 300px;
        font-size: 10px;
    }
}
  
  .inputbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 8px;
  }

  .completed {
    text-decoration: line-through;
    color: #ccc;
  }
  

  .input {
    padding: 6px;
    font-size: 16px;
  }

  @media (max-width: 767px) {
    .input{
        font-size: 10px;
    }
}

  .todolast {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .todoitem {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid grey;
    height: 50px;
  }

  .todoitem_container {
    display: flex;
    flex-direction: column;
  }

  .clear-completed-button {
    padding: 6px;
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 17px;
  }

  @media (max-width: 767px) {
    .clear-completed-button{
        font-size: 10px;
    }
}

  .clear-completed-button:hover {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
  }

  .add_button {
    padding: 6px;
    color: grey;
    background-color: transparent;
    border: none;
    transition: all;
    cursor: pointer;
  }

  .add_button:hover {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
  }

  .checkbox {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(165, 160, 160);
    position: relative;
  }

  .checkbox:checked {
    background-color: white;
  }

  .checkbox:checked::before {
    content: "\2713";
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: grey;
  }